*.r
*.bat
*.lnk
*.exe
*.zip
*.dll
*.txt
*.pf
*.ini
Licenciamento.xlsx
database/trg/d/*.r
database/trg/w/*.r
database/desenv/
database/maickel/
database/Otima/
database/Tetra/
desenv/
exec/
func/ProgressGL/*.r
func/*.r
func/cript/
graf/*.r
image/bens/
lotes/
relat/*.r
temp/
util/*.r
zoom/*.r

